html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #008080;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  background-color: #c0c0c0;
  min-width: 50%;
  min-height: 20%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-shadow: 4px 4px 3px 0px #000000;
  box-shadow: 4px 4px 3px 0px #000000;
  padding: 0;
  margin: 0;
}

.border {
  background: rgb(38, 34, 110);
  background: linear-gradient(
    90deg,
    rgba(38, 34, 110, 1) 0%,
    rgba(71, 102, 191, 1) 50%,
    rgba(252, 252, 252, 1) 100%
  );
  margin: 2px 0 0 2px;
}

.border h3 {
  margin-top: 0;
  font-size: 1em;
  color: white;
  margin-left: 10px;
  padding: 5px;
}
.mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mid-content p {
  margin: 0 70px 0 50px;
  font-size: 1em;
}

.button {
  display: flex;
  justify-content: end;
}

button {
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-box-shadow: 4px 4px 3px 0px #000000;
  box-shadow: 4px 4px 3px 0px #000000;
  background-color: #c0c0c0;
  margin-bottom: 10px;
  margin-right: 15px;
}
